<!DOCTYPE html>
<html>
  <head>
    <title>Compliment Keeper</title>
    <meta name="description" content="A cool thing made with MongoDB">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Compliment Keeper
      </h1>
      <h2>
        This looks like a nice place to put a compliment...
      </h2>
    </header>

    <section class="add-new-post">
      <form action="/posts" method="post">
          <h3>
            Enter it here:
          </h3>
          <input type="text" name="body" placeholder="A compliment!!" />
        <button type="submit" class="button">
          Save it
        </button>
      </form>
      <nav>
        <a href="/delete">Delete Last Compliment</a> 
        <a href="/reset">Reset</a>
      </nav>
    </section>

    <hr>

    <h2>
      Past Compliments
    </h2>
    <main>
      {% for post in posts %}
        {% block post %}
          <article>
            <p>
              {{post.body}}
            </p>
          </article>
        {% endblock %}
      {% endfor %}
    </main>
  
    
  </body>
</html>