
@import url('https://fonts.googleapis.com/css?family=Questrial|Shrikhand');
* {
        margin: 10px;
        padding: 0;
        box-sizing: border-box;
}
body {
        font-family: Questrial, sans-serif;
        font-size: 16px;
        color: #473e3e;
        display: flex;
        flex-direction: column;
}
h1 {
        font-family: Shrikhand, cursive;
        font-size: 40px;
}
outer {
        background-color: #e9ffff;
        border: 3px solid #f0fafa;
        border-radius: 3px;
}
input[type=text] {
        min-width: 300px;
        font-size: 28px;
        flex-grow: 1;
        flex-shrink: 1;
}
ul {
        list-style: none;
}
nav {
        list-style: none;
}
.add-new-post {
        margin: 0; 
}
a {
        text-decoration: none;
        opacity: 0.75;
        color: #515151;
        cursor: pointer;
}
a:hover {
        opacity: 1;
}
button {
        border-radius: 4px;
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        background-color: #bafd6d;
        padding: 5px;
}
header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
@media (max-width: 800px) {
        header {
                padding: 20px 50px;
                flex-direction: column;       
        }
        header h2 {
                margin-bottom: 15px;
        }
}

main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
}

article {
        color: #473e3e;
        background-color: #f5f5f5;
        font-size: 18px;
        border-radius: 10px;
        border: 2px solid #f9f0f0;
}