
@import url('https://fonts.googleapis.com/css?family=Questrial');
* {
        margin: 10px;
        padding: 0;
        box-sizing: border-box;
}
html {
        font-family: Questrial;
        font-size: 16px;
        color: #555;
}
body {
        display: flex;
        flex-direction: column;
        background-color: #E9FFFF;
}
input[type=text] {
        flex-basis: 400px;
        font-size: 22px;
}
h1{
        color: grey;
}
ul {
        list-style: none;
}
nav {
        list-style: none;
}
a {
        text-decoration: none;
        opacity: 0.75;
        color: #515151;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
}
a:hover {
        opacity: 1;
}
button.btn {
        border-radius: 4px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background-color: #3f51b5;
        opacity: 1;
}
header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: grey;
}
header nav {
        display: flex;
        margin-right: -15px;
}
header nav li {
        margin: 0 15px;
}
@media (max-width: 800px) {
        header {
                padding: 20px 50px;
                flex-direction: column;       
        }
        header h2 {
                margin-bottom: 15px;
        }
}
